body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  background-color: #009879;
  border-radius: 1.5rem;
  padding: 5rem 0px 5rem 0px;
  width: 15rem;
  color: white;
  margin: 1rem;
  text-align: center;
}

.row {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
